<div content admin-page--list>
    <h1>Pages</h1>
    <a class="btn" href="/admin/page/add" class="btn btn--infos btn--sm"><i class="fas fa-plus-circle"></i>Ajouter une Page</a>
    <div class="col-gutter-12">
        <?php $keys = array_keys($pages);?>
        <?php use Core\Util\Table; ?>
        <?php $verifTable = new Table() ?>

        <?php if(($message = $helper->getFlashMessage('success'))):?>
            <p><?php echo $message;?></p>
        <?php elseif(($message = $helper->getFlashMessage('error'))):?>
            <p> <?php echo $message;?></p>
        <?php endif;?>

        <table id="pages_table" class="display dataTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Créateur</th>
                <th>Statut</th>
                <th>Date</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
                <?php if ($pages != null) { ?>
                    <?php if($verifTable->is_multi($pages)) { ?>
                        <?php for($i = 0; $i < count($pages); $i++) { ?>
                            <tr>
                                <?php foreach($pages[$keys[$i]] as $key => $value) { ?>
                                    <td><?php echo $value ?></td>
                                <?php } ?>
                                <td><a href="/admin/page/edit?id=<?php echo $pages[$i]['id'] ?>" class="btn btn--warning btn--sm"><i class="fas fa-edit"></i></a></td>
                                <td><a href="javascript:confirmDelete('/admin/page/delete/<?php echo $pages[$i]['id'] ?>')" class="btn btn--danger btn--sm"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        <?php }
                    }
                    else{ ?>
                        <tr>
                            <?php foreach($pages as $value) { ?>
                                <td><?php echo $value ?></td>
                            <?php } ?>
                            <td><a href="/admin/page/edit?id=<?php echo $pages['id'] ?>" class="btn btn--warning btn--sm"><i class="fas fa-edit"></i></a></td>
                            <td><a href="javascript:confirmDelete('/admin/page/delete/<?php echo $pages['id'] ?>')" class="btn btn--danger btn--sm"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    <?php } ?>
                <?php } ?>
            </tbody>

            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Créateur</th>
                    <th>Statut</th>
                    <th>Date</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </tfoot>
        </table>

        <script>
            $(document).ready( function () {
                $('#pages_table').DataTable();
            });
        </script>

    </div>
</div>