<div class="add-form">
    <h1>Ajouter un nouvel article</h1>
    <?php if(isset($errors) && !empty($errors)): ?>
        <ul>
            <?php foreach($errors as $error): ?>
                <li><?php echo $error;?></li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>

    <?= $articleAdd; ?>
</div>
<div class="back-to-list">  <a href="/admin/article/list" class="btn btn--infos btn--sm">Revenir à la liste</a></div>