<div class="content admin-article--list">
        <div class="col-gutter-12">
            <h1>Articles</h1>
        <a href="/admin/article/add" class="btn btn--infos btn--sm"><i class="fas fa-plus-circle"></i> Ajouter un article</a>
            <?php $keys = array_keys($articles);?>
            <?php use Core\Util\Table; ?>
            <?php $verifTable = new Table() ?>

            <?php if(($message = $helper->getFlashMessage('success'))):?>
                <p><?php echo $message;?></p>
            <?php elseif(($message = $helper->getFlashMessage('error'))):?>
                <p> <?php echo $message;?></p>
            <?php endif;?>

            <table id="articles_table" class="display dataTable">
                <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Catégorie</th>
                            <th>Auteur</th>
                            <th>Statut</th>
                            <th>Date</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                </thead>

                <tbody>
                    <?php if ($articles != null) { ?>
                        <?php if($verifTable->is_multi($articles)) { ?>
                            <?php for($i = 0; $i < count($articles); $i++) { ?>
                                <tr>
                                    <?php foreach($articles[$keys[$i]] as $key => $value) { ?>
                                        <td><?php echo $value ?></td>
                                    <?php } ?>
                                    <td><a href="/admin/article/edit?id=<?php echo $articles[$i]['id'] ?>" class="btn btn--warning btn--sm"><i class="fas fa-edit"></i></a></td>
                                    <td><a href="javascript:confirmDelete('/admin/article/delete/<?php echo $articles[$i]['id'] ?>')" class="btn btn--danger btn--sm"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                            <?php }
                        }
                        else{ ?>
                            <tr>
                                <?php foreach($articles as $value) { ?>
                                    <td><?php echo $value ?></td>
                                <?php } ?>
                                <td><a href="/admin/article/edit?id=<?php echo $articles['id'] ?>" class="btn btn--warning btn--sm"><i class="fas fa-edit"></i></a></td>
                                <td><a href="javascript:confirmDelete('/admin/article/delete/<?php echo $articles['id'] ?>')" class="btn btn--danger btn--sm"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                </tbody>

                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Catégorie</th>
                        <th>Auteur</th>
                        <th>Statut</th>
                        <th>Date</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </tfoot>
            </table>

            <script>
                $(document).ready(function() {
                    $('#articles_table').DataTable();
                } );
            </script>
        </div>
    </div>
</div>

