@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #f3f3f3;
}

.admin-sidebar {
  position: fixed;
  width: 13%;
  left: 0;
  bottom:0;
  top: 0;
  background-color: #363740;
  z-index: 7;

  .logo {
    border-bottom: 1px solid #42434e;
    a{
      display: block;
      width: 135px;
      height: 110px;
      margin: 0 auto;


    img {
      width: 100%;
      height: 100%;
    }

  }

  }

  .admin-menu-links{
    .sidebar-menu {
        padding: 0;
        margin: 0;
        list-style: none;

        .sidebar-section {
          a {
            display: block;
            padding: 18px;
            height: 100%;
            width: 100%;
          }
        }

        .dropdown-main{

          .dropdown-section{
            display: block;
            padding: 18px;
            height: 100%;
            width: 100%;
          }

          .dropdown-container {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              a {
                display: block;
                padding: 10px;
                height: 100%;
                width: 100%;
              }

              a {
                background: linear-gradient(to top, white 0%, white 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                transition: background-size .5s;
              }

              a:hover {
                background-size: 100% 100%;
              }
            }

            li:hover{
              a, button {
                color: white;
              }
            }

            .fa-caret-down {
              float: right;
            }


            .sidebar-section:hover{
              background-color: #00A2AC;
              border-left: 5px solid #fff;
              a {
                color: white;
              }
            }
          }
        }

      .dropdown-main:hover{
        background-color: #00A2AC;
        border-left: 5px solid #fff;
        a {
          color: white;
        }
      }
    }

        .sidebar-section:hover{
          background-color: #00A2AC;
          border-left: 5px solid #fff;
          a {
            color: white;
          }
        }

        i { padding-right: 10px}
      }

      .parameters{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

.admin-topbar-backoffice{
  position: fixed;
  width: 85%;
  left: 15%;
  top: 0;
  z-index: 7;

  .user-controls {
    background-color:#363740;
    width: 40%;
    position: absolute;
    right: 0;
    border-radius: 0px 0px 0px 50px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    i{
      margin-right: 7px;
    }

    .identity {
      display: flex;
      flex-direction: row;
      color: #fff;

      li{
        display: inline-block;
      }

      a{
        color: white;
      }

      a:hover{
        color: #00A2AC;
        i{
          color: #00A2AC;
        }
      }
    }

    .user-actions{
      ul {
        margin: 0;
        padding: 0;
      }
      ul li {
        display: inline-block;
        margin-right: 2px;
        margin-left: 2px;
      }

      a:hover
      {
        color: white;
      }
    }
  }

}

.admin-main--content{
  position: absolute;
  left: 14%;
  width: 86%;

  .section-title{
    top: 0;
  }

  #calendar{
    width: 95%;
    height: 500px;
    float: right;
  }
}

