<h1 class="section-title">Tableau de bord</h1>
    <?php if(($message = $helper->getFlashMessage('error'))):?>
        <p><?php echo $message;?></p>
    <?php elseif(($message = $helper->getFlashMessage('success'))):?>
        <p> <?php echo $message;?></p>
    <?php endif;?>
    <div class="content admin--index">
        <div class="row">
            <div class="col-gutter-2">
                <div class="row">
                    <div class="col-2">
                        <table class="count-table shadow shadow--none">
                            <thead>
                            <tr>
                                <th colspan="1">Professeurs</th>
                                <th colspan="1">Eleves</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><?php echo $teacherCount; ?></td>
                                <td><?php echo $studentCount; ?></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <canvas id="voteChart" width="400" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById('voteChart');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Red', 'Blue', 'Yellow'],
                                    datasets: [{
                                        label: '# of Votes',
                                        data: [12, 19, 3],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-gutter-10">
                <div id='calendar'></div>
                <script>

                    document.addEventListener('DOMContentLoaded', function() {
                        var calendarEl = document.getElementById('calendar');
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            initialView: 'dayGridMonth'
                        });
                        calendar.render();
                    });

                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-gutter-2">
                <div class="shadow shadow--none">
                    <h4>Les 3 derniers inscrit.</h4>
                    <?php $verifTable = new \Core\Util\Table() ?>
                    <ul>
                        <?php if ($users != null && $verifTable->is_multi($users)) { ?>
                            <?php for($y = 0; $y < 3;$y++) { ?>
                                <li>
                                        <?php echo $users[$y]['lastname'] ?> <?php echo $users[$y]['firstname'] ?> <?php echo $users[$y]['role'] ?><br>
                                        <?php echo $users[$y]['created_at'] ?><br><br>
                                </li>
                            <?php } ?>
                        <?php }
                        elseif (!$verifTable->is_multi($users)) { ?>
                            <?php for($y = 0; $y < 3;$y++) { ?>
                                <li>
                                        <?php echo $users[$y]['lastname'] ?> <?php echo $users[$y]['firstname'] ?> <?php echo $users[$y]['role'] ?><br>
                                        <?php echo $users[$y]['created_at'] ?><br><br>
                                </li>
                            <?php } ?>
                        <?php }
                        else { ?>
                            <li>Il n'y a pas encore d'utilisateur.<br>
                            <a href="/admin/user/add" class="btn btn--sm"><i class="fas fa-plus-circle"></i> Ajouter </a>
                            </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
            <div class="col-gutter-2">
                <div class="shadow shadow--none">
                    <h4>Les 3 derniers articles.</h4>
                    <ul>
                        <?php if ($articles != null && $verifTable->is_multi($articles)) { ?>
                            <?php for($i = 0; $i < count($articles);$i++) { ?>
                                <li>
                                        <?php echo $articles[$i]['title'] ?><br>
                                        <?php echo $articles[$i]['created_at'] ?><br><br>
                                </li>
                            <?php } ?>
                        <?php } 
                        elseif ($articles != null && !$verifTable->is_multi($articles)) { ?>
                                <li>
                                        <?php echo $articles['title'] ?><br>
                                        <?php echo $articles['created_at'] ?><br><br>
                                </li>
                            <?php }
                        else { ?>
                            <li>Il n'y a pas encore d'article.<br>
                            <a href="/admin/article/add" class="btn btn--sm"><i class="fas fa-plus-circle"></i> Ajouter </a></li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
            <div class="col-gutter-8">
                <div class="shadow shadow--none">
                    <h4>Les évènements à venir.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

