<div class="content admin-comment--list">
    <div class="col-gutter-12">
        <h1>Commentaires</h1>
        <a href="/admin/comment/add" class="btn btn--infos btn--sm"><i class="fas fa-plus-circle"></i> Ajouter un commentaire</a>
        <?php $keys = array_keys($comments);?>
        <?php use Core\Util\Table; ?>
        <?php $verifTable = new Table() ?>

        <?php if(($message = $helper->getFlashMessage('success'))):?>
            <p><?php echo $message;?></p>
        <?php elseif(($message = $helper->getFlashMessage('error'))):?>
            <p> <?php echo $message;?></p>
        <?php endif;?>

        <table id="comments_table" class="display dataTable">
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Message</th>
                <th>Status</th>
                <th>Publié par</th>
                <th>Publié dans</th>
                <th>Publié à</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>

            <tbody>
            <?php if ($comments != null) { ?>
                <?php if($verifTable->is_multi($comments)) { ?>
                    <?php for($i = 0; $i < count($comments); $i++) { ?>
                        <tr>
                            <?php foreach($comments[$keys[$i]] as $key => $value) { ?>
                                <td><?php echo $value ?></td>
                            <?php } ?>
                            <td><a href="/admin/comment/edit?id=<?php echo $comments[$i]['id'] ?>" class="btn btn--warning btn--sm"><i class="fas fa-edit"></i></a></td>
                            <td><a href="javascript:confirmDelete('/admin/comment/delete/<?php echo $comments[$i]['id'] ?>')" class="btn btn--danger btn--sm"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    <?php }
                }
                else{ ?>
                    <tr>
                        <?php foreach($comments as $value) { ?>
                            <td><?php echo $value ?></td>
                        <?php } ?>
                        <td><a href="/admin/comment/edit?id=<?php echo $comments['id'] ?>" class="btn btn--warning btn--sm"><i class="fas fa-edit"></i></a></td>
                        <td><a href="javascript:confirmDelete('/admin/comment/delete/<?php echo $comments['id'] ?>')" class="btn btn--danger btn--sm"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                <?php } ?>
            <?php } ?>
            </tbody>

            <tfoot>
            <tr>
                <th>Numéro</th>
                <th>Message</th>
                <th>Status</th>
                <th>Publié par</th>
                <th>Publié dans</th>
                <th>Publié à</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </tfoot>
        </table>

        <script>
            $(document).ready(function() {
                $('#comments_table').DataTable();
            } );
        </script>
    </div>
</div>

