<div class="content admin-user--list">
<div class="col-gutter-12">
    <h1>Utilisateurs</h1>
    <a class="btn" href="/admin/user/add" class="btn btn--infos btn--sm"><i class="fas fa-plus-circle"></i>Ajouter un utilisateur</a>
    <?php $keys = array_keys($users);?>
    <?php use Core\Util\Table; ?>
    <?php $verifTable = new Table() ?>

    <?php if(($message = $helper->getFlashMessage('success'))):?>
        <p><?php echo $message;?></p>
    <?php elseif(($message = $helper->getFlashMessage('errors'))):?>
        <p> <?php echo $message;?></p>
    <?php endif;?>

    <table id="users_table" class="display dataTable">
        <thead>
                <tr>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
        </thead>

        <tbody>
            <?php if ($users != null) { ?>
                <?php if($verifTable->is_multi($users)) { ?>
                    <?php for($i = 0; $i < count($users); $i++) { ?>
                        <tr>
                            <?php foreach($users[$keys[$i]] as $key => $value) { ?>
                            <td><?php echo $value ?></td>
                            <?php } ?>
                            <td><a href="/admin/user/edit?id=<?php echo $users[$i]['id'] ?>" class="btn btn--warning btn--sm"><i class="fas fa-edit"></i></a></td>
                            <td><a href="javascript:confirmDelete('/admin/user/delete/<?php echo $users[$i]['id'] ?>')" class="btn btn--danger btn--sm"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    <?php }
                }
                else{ ?>
                    <tr>
                        <?php foreach($users as $value) { ?>
                        <td><?php echo $value ?></td>
                        <?php } ?>
                        <td><a href="/admin/user/edit?id=<?php echo $users['id'] ?>" class="btn btn--warning btn--sm"><i class="fas fa-edit"></i></a></td>
                        <td><a href="javascript:confirmDelete('/admin/user/delete/<?php echo $users['id'] ?>')" class="btn btn--danger btn--sm"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                <?php } ?>
            <?php } ?>
        </tbody>

        <tfoot>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </tfoot>
    </table>

    <script>
        $(document).ready( function () {
            $('#users_table').DataTable();
        });
    </script>

</div>