<?php
$session = new Core\Http\Session();
$id = $helper->getFlashMessage('user_id') ?? null;
$connectedUser = [];

$id = $session->getSession('user_id');

if($id){
    $userQuery = new App\Query\UserQuery();
    $connectedUser =  $userQuery->getUserById($id);
}

?>


<h1><?= $connectedUser['role'] . ' ' . $connectedUser['firstname'] . ' ' . $connectedUser['lastname'] ?></h1>
<div class="col-gutter-12">
    <?php if(isset($errors) && !empty($errors)): ?>
        <ul>
            <?php foreach($errors as $error): ?>
                <li><?php echo $error;?></li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>

    <?= $userProfile; ?>
</div>
<div class="back-to-list">  <a href="/admin/dashboard/index" class="btn btn--infos btn--sm">Revenir au Tableau de bord</a></div>
