.site-body{
    position: relative;
    height: 100%;
    padding-bottom: 14rem;
}

.site-main {
    body,html{
        scroll-behavior: smooth;
    }
    &--nav {
        float: right;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                float: left;
                margin-left: 25px;
                font-size: 1.3em;
                a{
                    text-decoration: none;
                    color: $light-gray;
                    transition: all 0.3s ease 0s;
                    &:hover{
                        color: $secondary;
                    }
                }
            }
        }
    }
    &--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $primary; //rgba(0,0,0,0.8);
        padding: 30px 10%;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;

    }
    &--aside {
        position:fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 15%;
        background-color: $primary;
        z-index: 7;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-image: linear-gradient(to left, $secondary, $light-gray)1 0;
        div{
            width: 80%;
            h5{
                text-transform: uppercase;
            }
        }
        hr{
            border-top-color: $light-gray;
            opacity:0.5;
            &.small{
                margin:20px 0;
            }
        }
        a{
            text-decoration: none;
            color: $light-gray;
            transition: all 0.3s ease 0s;
            &:hover{
                color: $secondary;
            }
        }        
    }
    &--content {
        padding-bottom: 2.5rem;
        text-align: center;
        h1,h2,h3,h4,h5,h6{
            font-family: $font2;
            color: $primary;
        }
        &--articles {
            color: $primary;
            display: flex;
            border: .75em solid $light-white;
            padding: 2em;
            align-items: center;
            justify-content: center;
            .data-card {
                display: flex;
                flex-direction: column;
                max-width: 20.75em;
                min-height: 20.75em;
                overflow: hidden;
                border-radius: .5em;
                text-decoration: none;
                background: $light-white;
                margin: 1em;
                //padding: 2.75em 2.5em;
                box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
                transition: transform .45s ease, $light-white .45s ease;

                h5 {
                    color: #2E3C40;
                    font-size: 3.5em;
                    font-weight: 600;
                    line-height: 1;
                    padding-bottom: .5em;
                    margin: 0 0 0.142857143em;
                    border-bottom: 2px solid $secondary;
                    transition: color .45s ease, border .45s ease;
                }

                h6 {
                    color: $primary;
                    text-transform: uppercase;
                    font-size: 1.125em;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: 0.1em;
                    margin: 0 0 1.777777778em;
                    transition: color .45s ease;
                }

                p {
                    color: $primary;
                    font-weight: 600;
                    line-height: 1.8;
                    margin: 0 0 1.25em;
                    transform: translateY(-1em);
                    transition: opacity .45s ease, transform .5s ease;
                }

                .link-text {
                    display: block;
                    color: $secondary;
                    font-size: 1.125em;
                    font-weight: 600;
                    line-height: 1.2;
                    margin: auto 0 0;
                    transition: color .45s ease;
                    margin-bottom: 3%;

                    svg {
                        margin-left: .5em;
                        transition: transform .6s ease;
                        
                        path {
                            transition: fill .45s ease;
                        }
                    }
                }
            }

            @keyframes point {
                0% {
                transform: translateX(0);
                }
                100% {
                transform: translateX(.125em);
                }
            }
        }
    }
    &--footer {
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding-top: 1%;
        background-color:$primary;
        font-size: 1em;
        line-height:15px;
        color: $gray;
        hr{
            border-top-color: $light-gray;
            opacity:0.5;
            &.small{
                margin:20px 0;
            }
        }
        h6{
            color: $light;
            font-size: 0.9em;
            text-transform: uppercase;
            margin-top:5px;
            letter-spacing:3px
        }
        a{
            font-size: 1em;
            color:$gray;
            &:hover{
                color: $light-gray;
                text-decoration:none;
            }
        }
        .footer-links{
            padding-left:0;
            list-style:none;
            li{
                display: block;
            }
            &.inline li{
                display:inline-block;
            }
            .social{
                text-align: right;
                a{
                    width:30px;
                    height:30px;
                    line-height:30px;
                    margin-left:6px;
                    margin-right:0;
                    border-radius:100%;
                    background-color:#33353d
                }
                li{
                    display:inline-block;
                    margin-bottom:4px;
                    &.title{
                        margin-right:15px;
                        text-transform:uppercase;
                        color:$light-gray;
                        font-weight:700;
                        font-size:13px
                    }
                }
            }
        }
        .social{
            padding-left:0;
            margin-bottom:0;
            list-style:none;
            li{
                display:inline-block;
                margin-bottom:4px;
                &.title{
                    margin-right:15px;
                    text-transform:uppercase;
                    color:$light-gray;
                    font-weight:700;
                    font-size:13px
                }
            }
            a{
                background-color:$light-gray;
                color:$primary;
                font-size:16px;
                display:inline-block;
                line-height:44px;
                width:44px;
                height:44px;
                text-align:center;
                margin-right:8px;
                border-radius:100%;
                -webkit-transition:all .2s linear;
                -o-transition:all .2s linear;
                transition:all .2s linear;
                &:active,:focus,:hover{
                    color:$light-gray;
                }
                &.facebook:hover{
                    background-color:#3b5998;
                }
                &.twitter:hover{
                    background-color:#00aced;
                }
                &.linkedin:hover{
                    background-color:#007bb6;
                }
            }
        }
    }
    &--admin-navbar{
            display: flex;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 7;

            .user-controls {
                background-color:#212121;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-around;

                i{
                    margin-right: 7px;
                }

                .identity {
                    display: flex;
                    flex-direction: row;
                    margin-right: 70vh;
                    color: #fff;

                    li{
                        margin-right: 2px;
                        margin-left: 2px;
                        display: inline-block;
                    }

                    a{
                        color: white;
                    }

                    a:hover{
                        color: #00A2AC;
                        i{
                            color: #00A2AC;
                        }
                    }
                }

                .user-actions{
                    a{
                        color: white;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                    }
                    ul li {
                        display: inline-block;
                        margin-right: 2px;
                        margin-left: 2px;
                    }

                    a:hover
                    {
                        color: #00A2AC;
                    }
                }
            }
    }
}

.closebtn {
    position: fixed;
    z-index: 8;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    i{
        color: #D3D3D3;
    }

    i:hover{
        color: white;
    }
}