<div class="content admin-media--add">
    <div class="col-gutter-12">
        <h1>Ajouter une image</h1>
        <?= $mediaAddForm; ?>
        <a href="/admin/media/list" class="btn btn--infos btn--sm">Revenir à la liste</a>
    </div>
</div>
