<h1>Ajouter une nouvelle catégorie</h1>
<div class="col-gutter-12">

    <?php if(isset($errors) && !empty($errors)): ?>
        <ul>
            <?php foreach($errors as $error): ?>
                <li><?php echo $error;?></li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>

    <?= $categoryAdd; ?>
</div>
<div class="col-12 back-to-list">  <a href="/admin/category/list" class="btn btn--infos btn--sm">Revenir à la liste</a></div>