<div class="content admin-newsletter--list">
    <div class="col-gutter-12">
        <h1>Menus</h1>
        <a href="/admin/menu/add">Créer un nouveau menu</a>
        <a href="/admin/menu/position">Gérer les emplacements des menus</a>
        <div class="row">
            <?php

            $menuQuery = new \App\Query\MenuQuery();

            if (!empty($menuQuery->getMenusName()))
            {?>
                <div>
                    <h2>Choisissez les menus qui doivent appraitrent dans les emplacements suivant :</h2>
                    <?= $positionMenu; ?>
                </div>
            <?php }
            else{ ?>
                    <div>
                        <p>Vous devez d'abord créer des menus avant de pouvoir choisir leurs emplacements dans le site. </p>
                        <a class="btn btn-info" href="/admin/menu/add">Ajouter un menu</a>
                    </div>
            <?php } ?>

            <div class="back-to-list"><a href="/admin/menu/index" class="btn btn--infos btn--sm">Revenir à la liste</a></div>
        </div>
    </div>
</div>