<div>
    <h1>Réinitialisation du mot de passe</h1>
    <h6>Veuillez renseigner le mail associé à votre compte</h6>
    <p>Un email va vous être envoyer avec les instructions vous permettant de réinitialiser votre mot de passe :</p>
    <?php if(isset($errors) && !empty($errors)): ?>
        <ul>
            <?php foreach($errors as $error): ?>
                <li><?php echo $error;?></li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
    <?php if(($message = $helper->getFlashMessage('success'))):?>
        <p><?php echo $message;?></p>
    <?php elseif(($message = $helper->getFlashMessage('error'))):?>
        <p> <?php echo $message;?></p>
    <?php endif;?>
    <?php echo $userLostPassword; ?>
    <a href="/admin/auth/login" >Retour</a>
</div>