<div class="content admin--login">
    <h1>Vérification de votre compte</h1>
    <p>Votre compte goSchool est désormais activé, vous pouvez maintenant vous y connecter.</p>
    <a href="/admin/auth/login" class="btn btn--infos btn--sm">Connectez-Vous</a>
</div>