
<h1>Page d'exemple</h1>
<p>Ceci est une page d'exemple. C'est différent d'un article car elle restera au même endroit et apparaîtra dans la navigation de votre site. La plupart des gens commencent par une page À propos qui les présente aux visiteurs potentiels du site.</p>
