<div class="content admin-theme--list">
    <div class="col-gutter-12">
        <h1>Thèmes</h1>
        <div class="col-12">
            <div class="container--fluid">
                <div class="col-gutter-10">
                    <ul class="card--wrapper">
                        <li class="card">
                            <img src='/images/logo.png' alt=''>
                            <h3><a href="">Thème de base</a></h3>
                            <p>Lorem ipsum sit dolor amit</p>
                            <a href="#" class="btn btn--info btn--md">Activé</a>
                        </li>
                        <li class="card">
                            <img src='https://images.unsplash.com/photo-1611083360739-bdad6e0eb1fa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400' alt=''>
                            <h3><a href="">Thème dark</a></h3>
                            <p>Lorem ipsum sit dolor amit</p>
                            <a href="#" class="btn btn--light btn--md">Activer</a>
                        </li>
                        <li class="card">
                            <img src='/images/connexion.jpg' alt=''>
                            <h3><a href="">Thème école</a></h3>
                            <p>Lorem ipsum sit dolor amit</p>
                            <a href="#" class="btn btn--light btn--md">Activer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>