
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goSchool - Connexion</title>
    <link rel="stylesheet" type="text/css" href="/librairies/dist/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/librairies/dist/main.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body class="admin-login">
<?php
use Core\Util\SessionHelper;

$sessionHelper = new SessionHelper();
$sessionHelper->redirectToDashboardIfAlreadyLogged();

?>

<div class="container--fluid">
    <div class="row">
        <div class="col-6 connexion-leading">
            <div class="container-leading">
                <div class="connexion-title">
                    <h1>Bienvenue à l'école de la reussite</h1>
                </div>

                <img class="logo" src="/images/logo.svg" alt="GO SCHOOL"/>
            </div>
            <p><small>copyright © 2021, goschool.com, tous droits réservés</small></p>
        </div>


        <div class="col-6 connexion-form">
            <div class="container-form">
                {{content}}
            </div>
        </div>
    </div>
</body>
